.section-about {
  .section__block {
    .section__title {
      line-height: 100%;
    }

    .block__images {
      .row+.row {
        margin-top: rem(30);
      }
    }

    .img-box {
      padding: rem(87) rem(34);
      background-color: $section-grey;
      transition: $transition;

      &__icon {
        margin: 0 5px;
        width: 91px;
        height: 91px;
        object-fit: cover;
        color: $font-dark;
      }

      svg {
        fill: $font-dark;
      }

      &__content {
        margin: 0 5px;
        text-align: center;
        color: $font-dark;
      }

      &__counter {
        font-weight: 900;
        font-size: rem(55);
        line-height: rem(66);
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      &__title {
        font-weight: 700;
        font-size: rem(14);
        line-height: rem(18);
      }

      &:hover {
        background-color: $primary-accent;

        .img-box__icon,
        svg {
          color: $font-light;
          fill: $font-light;
        }

        .img-box__content {
          color: $font-light;
        }
      }
    }

  }

  .tabs__block {
    margin-top: rem(135);
  }

  .tabs__box {
    padding-top: rem(66);
    padding-bottom: rem(96);
    background-image: url(../img/tabs-section-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($primary-dark, 0.6);
    }

    .box__inner {
      position: relative;
      z-index: 30;
    }

    ul.nav {
      max-width: rem(476);
      margin: 0 auto;
    }

    .nav-item {
      margin-bottom: rem(50);

      &+.nav-item {
        margin-left: 30px;
      }
    }


    .nav-link {
      padding: rem(18) rem(60);
      font-size: rem(16);
      line-height: 144.55%;
      color: $font-dark;
      background-color: $section-grey;
      transition: $transition;

      &.active {
        color: $font-light;
        background-color: $primary-accent;
      }
    }

    .tab-pane__title {
      margin-bottom: rem(40);
      font-family: $title-font;
      font-weight: 700;
      font-size: rem(48);
      line-height: 144.55%;
      text-align: center;
      color: $font-light;
    }

    .tab-pane__content {
      text-align: center;
    }

    .tab-pane__text {
      margin: 0;
      color: $font-light;
    }
  }
}